{erl_opts, [

%% Additional src directories
{src_dirs, ["src"]}

]}.

%% Erlang compiler options
{erl_opts, []}.

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

{deps, [

    {elil, ".*", {git, "git://github.com/elightp/elil.git"}},
    {esockd, ".*", {git, "https://github.com/emqtt/esockd.git"}},
    {pooler, ".*", {git, "https://github.com/seth/pooler.git"}}

]}.

